.Titre{
    background-color: greenyellow;
    opacity: 80%;
    height: 100px;
    width: 100%px;

}



.img-Header{
    margin-left: 650px;
    height: 100px;
    width:100px;
    text-align:center;
    margin:auto;
    display:flex;
    }
.T-A-C{text-align: center;}

.back-premier-para{
    background-color: greenyellow;
    border: 1px solid greenyellow;
    padding: 1%;
    height: 20%;
    width: 30%;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    display:block;}