.Titre{
    background-color: greenyellow;
    opacity: 80%;
    height: 100px;
    width: 100%px;

}



.img-Header{
    margin-left: 650px;
    height: 100px;
    width:100px;
    text-align:center;
    margin:auto;
    display:flex;
    }
.T-A-C{text-align: center;}